<style>
  .drink-form {
    margin: 3rem;
  }

  .drink-container {
    border-bottom: 1px solid rgb(181, 178, 178);
  }

  .text-container {
    width: 100%;
  }

  .text-container div {
    margin: 1rem 0;
  }

  .text-container input {
    border: none;
    border-bottom: 1px solid rgb(181, 178, 178);
  }

  .text-container input:hover {
    border-bottom: 1px solid brown;
  }

  .text-container input:focus {
    outline: none;
    border-bottom: 1px solid brown;
  }

  .text-container textarea {
    border: 1px solid rgb(181, 178, 178);
  }

  .text-container textarea:hover {
    border: 1px solid brown;
  }

  .text-container textarea:focus {
    outline: none;
    border: 1px solid brown;
  }

  .img-container img {
    width: 350px;
    height: 350px;
  }

  .checkbox-container div {
    margin: 0 1rem 0 0;
  }

  .drink-form button {
    width: 200px;
  }

  .delete-button,
  .edit-button {
    color: black;
    background-color: #E9E5E2;
  }

  .edit-button:hover {
    background-color: gray;
  }
</style>

<div class="d-flex">
  {{> admin-sidebar}}
  <main class="ms-2 me-2 border w-100">
    <form class="drink-form" action="/admin/drinks/{{drink._id}}/edit" method="get">
      {{> admin-drink-form isViewOnly=true}}
      <button class="edit-button">編輯</button>
      <form action="/admin/drinks/ /delete" method="post">
        <button class="delete-button">刪除</button>
      </form>
    </form>

  </main>
</div>