<style>
  .drink-form {
    margin: 3rem;
  }

  .drink-container {
    border-bottom: 1px solid rgb(181, 178, 178);
  }

  .text-container {
    width: 100%;
  }

  .text-container div {
    margin: 1rem 0;
  }

  .img-container img {
    width: 350px;
    height: 350px;
  }

  .checkbox-container div {
    margin: 0 1rem 0 0;
  }

  .drink-form button,
  .delete-button {
    width: 200px;
  }

  .delete-button,
  .edit-button {
    color: black;
    background-color: #E9E5E2;
  }

  .edit-button {
    position: relative;
  }

  .edit-button:hover {
    background-color: gray;
  }
</style>

<div class="d-flex">
  {{> admin-sidebar}}
  <main class="ms-2 me-2 border w-100">
    <form class="drink-form" action="/admin/drinks/{{drink._id}}?_method=PUT" method="POST">
      {{> admin-drink-form }}
    </form>
  </main>
</div>

<script src="/javascripts/delete-confirm-single.js"></script>