<style>
  .drink-form {
    margin: 3rem;
  }

  .drink-container {
    border-bottom: 1px solid rgb(181, 178, 178);
  }

  .text-container {
    width: 100%;
  }

  .text-container div {
    margin: 1rem 0;
  }

  .img-container img {
    width: 350px;
    height: 350px;
  }

  .checkbox-container div {
    margin: 0 1rem 0 0;
  }

  .drink-form button,
  .delete-button {
    width: 200px;
  }

  .delete-button,
  .edit-button {
    color: black;
    background-color: #E9E5E2;
  }

  .edit-button {
    position: relative;
  }

  .edit-button:hover {
    background-color: gray;
  }
</style>

<div class="d-flex">
  {{> admin-sidebar}}
  <main class="ms-2 me-2 border w-100">
    <form class="drink-form" action="/admin/drinks/{{drink._id}}?_method=PUT" method="POST"
      enctype="multipart/form-data">
      {{> admin-drink-form }}
    </form>
  </main>
</div>

<script src="/javascripts/delete-confirm-single.js"></script>
<script>
  const imageUpdate = document.querySelector('#image-update')
  const faXmark = document.querySelector('.img-container .fa-xmark')
  const img = document.querySelector('.img-container img')

  function changeImage(e) {
    if (document.querySelector('.is-no-image')) {
      document.querySelector('.is-no-image').remove()
    }

    const selectedFile = imageUpdate.files[0]
    if (selectedFile) {
      img.src = URL.createObjectURL(selectedFile)
    }
  }
  function removeImage(e) {
    if (document.querySelector('.is-no-image')) {
      document.querySelector('.is-no-image').remove()
    }
    const imgContainer = document.querySelector('.img-container')
    img.src = 'https://i.imgur.com/EfBh0sM.png'
    const defaultInput = document.createElement('input')
    defaultInput.className = "is-no-image"
    defaultInput.name = "isNoImage"
    defaultInput.style = "display:none;"
    defaultInput.value = "Y"
    imgContainer.appendChild(defaultInput)
  }

  imageUpdate.addEventListener('change', changeImage)
  faXmark.addEventListener('click', removeImage)
</script>