<style>
  .login-contianer {
    min-width: 400px;
    margin: 15rem auto;
    box-shadow: 10px 15px 10px 1px brown;
  }
</style>
<div class="login-contianer w-25 border p-3">
  <h1 class="text-center">登入</h1>
  <form action="/admin/login">
    <div class="mb-3">
      <label for="account" class="form-label">帳號 :</label>
      <input type="account" class="form-control" id="account" placeholder="請輸入帳號">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">密碼 :</label>
      <input type="password" class="form-control" id="password" placeholder="請輸入密碼">
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn" style="background-color: brown;color:white">登入</button>
    </div>
  </form>
</div>