<style>
  .side-bar {
    position: sticky;
    top: 0;
    left: 0;
  }

  ul {
    margin-top: 3rem;
  }

  .side-bar-list:hover {
    background: brown;
    color: white;
  }

  button {
    height: 3rem;
    width: 100%;
    background: brown;
    color: white;
  }

  button:hover {
    background: rgb(214, 55, 55);
  }
</style>

<div class="side-bar d-flex flex-column justify-content-between border" style="width: 15%;height:100vh;">
  <ul class="list-group list-group-flush">
    <a href="/admin/drinks">
      <li class="side-bar-list list-group-item">
        {{#if isDrinksPage}}
        <i class="fa-solid fa-angles-right"></i>
        {{/if}}
        飲料清單
      </li>
    </a>
    <a href="/admin/stores">
      <li class="side-bar-list list-group-item">
        {{#if isStoresPage}}
        <i class="fa-solid fa-angles-right"></i>
        {{/if}}
        門市清單
      </li>
    </a>
    <a href="/admin/users">
      <li class="side-bar-list list-group-item">
        {{#if isUsersPage}}
        <i class="fa-solid fa-angles-right"></i>
        {{/if}}
        帳號管理
      </li>
    </a>
  </ul>
  <form action="/admin/logout" method="post">
    <button type="submit">
      <i class="fa-solid fa-right-from-bracket"></i>
      登出
    </button>
  </form>
</div>