<style>
  footer {
    margin-top: 6rem;
    background-color: gray;
    position: relative;
    background-color: brown;
  }

  .footer-logo {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 10%;
    border-top: 1px solid brown;
    border-bottom: 1px solid white;
    padding: 2rem;
    border-radius: 50%;
  }

  .footer-logo img {
    width: 100px;
    height: 100px;
  }

  .footer-logo p {
    width: 100%;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 600;
    color: white;
  }

  footer .text-content {
    padding: 1rem 3rem;
  }

  footer .text-content p {
    margin: 0;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
  }

  footer .text-content .company-name {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    margin: 0.25rem;
  }
</style>

<footer>
  <div class="footer-logo">
    <img src="/images/logo.png" alt="">
    <p>幻迷饗</p>
  </div>
  <div class="text-content">
    <p class="company-name">幻迷實業股份有限公司</p>
    <p>
      <i class="fa-solid fa-phone"></i>
      TEL:0800-000-XXX
    </p>
    <p>
      <i class="fa-solid fa-fax"></i>
      FAX:0800-XXX-000
    </p>
    <p>
      <i class="fa-solid fa-envelope"></i>
      EMAIL:service@mihuan.com
    </p>
  </div>
</footer>