button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  border-bottom: 1px solid rgb(181, 178, 178);
}

input:hover {
  border-bottom: 1px solid brown;
}

input:focus {
  outline: none;
  border-bottom: 2px solid brown;
}

textarea {
  resize: both;
  border: 1px solid rgb(181, 178, 178);
}

textarea:hover {
  border: 1px solid brown;
}

textarea:focus {
  outline: none;
  border: 2px solid brown;
}

select {
  border: 1px solid rgb(181, 178, 178);
}

select:hover {
  border: 1px solid brown;
}

select:focus {
  border: 2px solid brown;
}